################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Server/Server.VC.VC.opendb
/Server/x64/Debug/Server.tlog
/Server/x64/Debug/Server.tlog
/Server/x64/Debug/Server.tlog
/Server/x64/Debug/Server.exe
*.exe
/Server/x64/Debug/Server.tlog
/Server/x64/Debug/Server.tlog
/Server/x64/Debug/Server.tlog
/Server/.vs/Server/v15
/Server/.vs/Server/v15/ipch/AutoPCH/SERVER-19c1dba2/GRAPHIC-b2c7d565
/Server/x64/Debug/Server.tlog
/Server/x64/Debug/Server.exe
/Client/Debug
/Client/Client/Debug
/Client/Client/Debug
/Client/.vs/Client/v15
/Client/.vs/Client/v15
/~$cumentChatApplication.docx
*.docx
/~$cumentChatApplication.docx
